@font-face {
  font-family: 'Bellota-LightItalic';
  src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face {
  font-family: 'Bellota-BoldItalic';
  src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
  margin: 0;
  padding: 0;
  line-height: 17px;
  background-color: #e6eae8;
  size: 12px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.top_var {
  width: 100%;
  min-width: 1020px;
  height: 40px;
  background-color: #20aae5;
  border-bottom: 0.25em solid #1894ca;
  margin: 0 0 10px 0;
  display: inline-flex;
  position: fixed;
  z-index: 10;
}

.logo a {
  font-family: 'Bellota-BoldItalic', sans-serif;
  margin-left: 10px;
  font-size: 150%;
  position: relative;
  top: 9px;
  text-shadow: #73e6b2 0.5px 0.5px 0px;
  color: #1086ba;
}

nav {
  float: right;
  right: 1px;
  position: absolute;
  margin: 10px;
}

nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  border-bottom: 7px solid #e67e22;
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  top: 50px;
  position: relative;
  padding: 0 10px;
  width: 75%;
  min-width: 950px;
}

.column {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #d3d3d3;
  z-index: -1;
}

.user_details {
  width: 250px;
  float: left;
  margin-bottom: 20px;
}

.user_details_left_right {
  width: 125px;
  display: inline-block;
  position: absolute;
}

.user_details img {
  height: 125px;
  border-radius: 5px;
  margin-right: 5px;
}

.main_column {
  float: right;
  width: 70%;
  z-index: -1;
  min-height: 170px;
}

.post_form {
  width: 100%;
}

.post_form textarea {
  width: 80%;
  height: 60px;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid #d3d3d3;
  font-size: 20px;
}

textarea:focus {
  outline: 0;
}

.post_form input[type="submit"] {
  width: 10%;
  height: 60px;
  border: none;
  border-radius: 3px;
  background-color: #3498db;
  font-family: 'Bellota-BoldItalic', sans-serif;
  color: #1e75ca;
  text-shadow: #73e6b2 0.5px 0.5px 0px;
  font-size: 90%;
  position: absolute;
  outline: 0;
  margin: 0 0 0 10px;
}

.post_form input[type="submit"]:active {
  padding: 5px 4px 4px 5px;
  color: #fff;
}

.posted_by {
  color: #acacac;
}

.status_post {
  width: 90%;
  font-size: 15px;
  padding: 0 5px;
  min-height: 75px;
}

.post_profile_pic {
  float: left;
  margin-right: 10px;
}

.post_profile_pic img {
  border-radius: 5px;
}

.noMorePosts p {
  text-align: center;
}

.post_comment {
  display: none;
}

#comment_iframe {
  max-height: 250px;
  width: 100%;
  border: none;
}

.comment_section {
  padding: 0 5px 5px 5px;
  font-size: 12px;
}

.comment_section img {
  margin: 0 10px 3px 3px;
  border-radius: 3px;
}

#comment_form textarea {
  border-color: #d3d3d3;
  width: 85%;
  height: 35px;
  border-radius: 5px;
  color: #616060;
  font-size: 14px;
  margin: 12px 5px 15px 10px;
}

#comment_form input[type="submit"] {
  border: none;
  background-color: #20aae5;
  color: #156588;
  border-radius: 5px;
  width: 10%;
  height: 35px;
  margin-top: 16px;
  position: absolute;
  text-shadow: #7386e2 0.5px 0.5px 0;
}

.newsfeedPostOptions {
  padding: 0px;
  text-decoration: none;
  color: #20aae5;
  border: none;
}

.newsfeedPostOptions iframe {
  border: 0px;
  height: 17px;
  width: 120px;
}

.newsfeedPostOptions form {
  position: absolute;
  top: 0;
}

.comment_like {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #3498db;
  padding: 0;
  height: auto;
  width: auto;
}

.like_value {
  display: inline;
  font-size: 14px;
}

.profile_left {
  float: left;
  height: 100%;
  width: 17%;
  max-width: 240px;
  min-width: 130px;
  top: -10px;
  position: relative;
  background-color: #37b0e9;
  border-right: 10px solid #83d6fe;
  color: #cbeaf8;
  margin-right: 20px;
}

.profile_left img {
  min-width: 80px;
  width: 55%;
  margin: 20px;
  border: 5px solid #83d6fe;
  border-radius: 100px;
}

.profile_info {
  display: list-item;
  background-color: #2980b9;
  width: 100%;
  padding: 10px 0 10px;
}

.profile_info p {
  margin: 0 0 0 20px;
  word-wrap: break-word;
}

.danger {
  background-color: #e74c3c;
}

.warning {
  background-color: #f0ad4e;
}

.default {
  background-color: #ddc3c7;
}

.success {
  background-color: #2ecc71;
}

.info {
  background-color: #3498db;
}

.deep_blue {
  background-color: #0043f0;
}

.profile_left input[type="submit"] {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin: 7px 0 0 7px;
  border: none;
  color: #fff;
}

.request_button {
  width: 20%;
  height: 30px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  color: #fff;
}

.delete_button {
  height: 22px;
  width: 22px;
  padding: 0;
  float: right;
  border-radius: 4px;
  right: -15px;
  position: relative;
  text-align: center;
}

.profile_main_column {
  min-width: 675px;
  float: left;
  width: 70%;
  z-index: -1;
}

.profile_info_bottom {
  margin: 10px 0 0 7px;
}

#message_textarea {
  width: 80%;
  margin-right: 8px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  font-size: 12px;
}

#message_submit {
  height: 40px;
  width: 120px;
  margin: 0;
  position: absolute;
  border: none;
  background-color: #20aae5;
  color: #156588;
  border-radius: 5px;
  text-shadow: #7386e2 0.5px 0.5px 0;
}

.message {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  color: #fff;
}

.message#blue{
  background-color: #3498db;
  border-color: #2980b9;
  float: right;
  margin: 0 5px 5px 0;
}

.message#green{
  background-color: #2ecc71;
  border-color: #27aa60;
  float: left;
  margin: 0 0 5px 5px;
}

.loaded_messages {
  height: 65%;
  min-height: 300px;
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.user_found_messages img {
  border-radius: 5px;
  margin-right: 5px;
}

.user_found_messages p {
  margin: 0;
}

.loaded_conversations {
  max-height: 200px;
  overflow: scroll;
}

.user_found_messages {
  border-bottom: 1px solid #d3d3d3;
  padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
  background-color: #d3d3d3;
}

.user_found_messages img {
  height: 35px;
  float: left;
}

#grey {
  color: #8c8c8c;
}

.result_display {
  padding: 5px 5px 0 5px;
  height: 60px;
  border-bottom: 1px solid #d3d3d3;
}

.result_display a {
  color: #000;
  float: none;
}

.result_display:hover {
  background-color: #ebebeb;
  text-decoration: none;
}

.live_search_profile_picture img {
  height: 50px;
  border-radius: 25px;
  margin: 1px 12px 0 2px;
  float: left;
}

.live_search_text {
  background-color: transparent;
  color: #1e96ca;
}

.live_search_text p:first-child {
  margin: 0;
}

.live_search_text p {
  margin-left: 10px;
  font-size: 12px;
}

.dropdown_data_window {
  padding: 0px;
  height: 0px;
  background-color: #fff;
  width: 300px;
  /* border: 1px solid #dadada; */
  border-radius: 0 0 8px 8px;
  border-top: none;
  position: absolute;
  right: 10px;
  top: 40px;
  overflow-y: scroll;
}

.notification_badge {
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #f00;
  vertical-align: baseline;
  border-radius: 10px;
  position: absolute;
  left: 7px;
  top: -7px;
}

.result_display_notification {
  height: auto;
  color: #14858d;
  padding-bottom: 7px;
}

.notifications_profile_picture img {
  height: 40px;
  border-radius: 5px;
  margin: 1px 12px 0px 2px;
  float: left;
}

.timestamp_smaller {
  font-size: 85%;
  margin: 0;
}

.search {
  margin: 8px 0 0 15%;
}

.search #search_text_input {
  border: thin solid #e5e5e5;
  float: left;
  height: 23px;
  outline: 0;
  width: 100px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button_holder {
  background-color: #f1f1f1;
  border: thin solid #e5e5e5;
  cursor: pointer;
  float: left;
  height: 22px;
  text-align: center;
  width: 50px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.button_holder img {
  margin-top: 1px;
  width: 20px;
}

.search_results {
  background-color: #fff;
  border: 1px solid #dadada;
  border-bottom: none;
  border-top: none;
  margin-top: 25px;
}

.search_results_footer {
  padding: 5px 4px 0 4px;
  height: 30px;
  border: 1px solid #dadada;
  border-top: none;
  background-color: #20aae5;
  text-align: center;
}

.search_results_footer a {
  color: #fff;
}

.search_result {
  padding: 10px;
  height: 100px;
}

.search_page_friend_buttons {
  float: right;
}

.result_profile_picture {
  float: left;
  margin-right: 10px;
}

.search_hr {
  margin-bottom: 0px;
}

.search_page_friend_buttons input[type="submit"] {
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
  color: #fff;
}
